In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("data/choosed_customer_consuming.csv",encoding='gbk')
data.head()

,编号,DATA_DATE,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23,HOUR24,DAY_CONSUMING,RECORDS_CONSUMING
0,2372,2017-01-05 00:00:00,810.0,750.0,750.0,750.0,720.0,660.0,690.0,750.0,...,1200.0,990.0,1050.0,990.0,960.0,1020.0,930.0,900.0,23700.0,468
1,2831,2017-01-05 00:00:00,26.0,22.0,24.0,22.0,18.0,17.0,19.0,21.0,...,79.0,93.0,128.0,116.0,107.0,90.0,32.0,28.0,1458.0,472
2,5740,2017-01-05 00:00:00,7.2,3.6,3.6,3.6,2.4,3.6,3.6,4.8,...,19.2,16.8,13.2,10.8,13.2,14.4,13.2,10.8,285.6,473
3,5925,2017-01-05 00:00:00,144.0,144.0,152.0,136.0,40.0,40.0,32.0,64.0,...,320.0,320.0,216.0,200.0,176.0,176.0,168.0,176.0,4792.0,460
4,4812,2017-01-05 00:00:00,23.2,22.0,21.6,21.6,21.6,21.6,24.4,30.4,...,70.4,45.6,34.0,28.8,30.4,24.8,24.4,22.8,956.0,464

In [4]:
data['尖峰用电量']=data['HOUR19']+data['HOUR20']+data['HOUR21']
data['高峰用电量']=data['HOUR8']+data['HOUR9']+data['HOUR10']+data['HOUR15']+data['HOUR16']+data['HOUR17']+data['HOUR18']
data['平段用电量']=data['HOUR7']+data['HOUR11']+data['HOUR12']+data['HOUR13']+data['HOUR14']+data['HOUR22']
data['谷段用电量']=data['HOUR1']+data['HOUR2']+data['HOUR3']+data['HOUR4']+data['HOUR5']+data['HOUR6']+data['HOUR23']+data['HOUR24']

data['日用电量']=data['尖峰用电量']+data['高峰用电量']+data['平段用电量']+data['谷段用电量']

data['尖峰用电量占比']=data['尖峰用电量']/data['日用电量']
data['高峰用电量占比']=data['高峰用电量']/data['日用电量']
data['平段用电量占比']=data['平段用电量']/data['日用电量']
data['谷段用电量占比']=data['谷段用电量']/data['日用电量']

data['尖峰平均负荷']=data['尖峰用电量']/3
data['高峰平均负荷']=data['高峰用电量']/7
data['平段平均负荷']=data['平段用电量']/6
data['谷段平均负荷']=data['谷段用电量']/8

In [5]:
data[data['编号']==4154].head()

,编号,DATA_DATE,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
20,4154,2017-01-05 00:00:00,12.0,12.0,12.0,6.0,4.8,3.6,4.8,3.6,...,54.0,114.0,0.063158,0.273684,0.189474,0.473684,2.4,4.457143,3.6,6.750
1810,4154,2017-01-07 00:00:00,16.8,16.8,16.8,16.8,16.8,16.8,15.6,2.4,...,118.8,259.2,0.129630,0.222222,0.189815,0.458333,11.2,8.228571,8.2,14.850
2500,4154,2017-01-08 00:00:00,7.2,7.2,8.4,7.2,7.2,8.4,8.4,12.0,...,68.4,494.4,0.118932,0.446602,0.296117,0.138350,19.6,31.542857,24.4,8.550
7013,4154,2017-01-14 00:00:00,8.4,8.4,9.6,8.4,8.4,8.4,9.6,25.2,...,73.8,492.6,0.082826,0.484775,0.282582,0.149817,13.6,34.114286,23.2,9.225
31038,4154,2017-02-14 00:00:00,10.8,9.6,10.8,10.8,9.6,10.8,13.2,21.6,...,90.0,391.2,0.156442,0.340491,0.273006,0.230061,20.4,19.028571,17.8,11.250

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt

In [7]:
explore = data.describe( percentiles = [],include = 'all').T

In [8]:
explore

,count,unique,top,freq,mean,std,min,50%,max
编号,3.64093e+06,NaN,NaN,NaN,35411.6,27829.7,2,30649,96325
DATA_DATE,3640934,1048,2017-04-01 00:00:00,7890,NaN,NaN,NaN,NaN,NaN
HOUR1,3.64093e+06,NaN,NaN,NaN,456.272,81238.4,0,15,7.53041e+07
HOUR2,3.64093e+06,NaN,NaN,NaN,236.761,25901,0,14.4,2.59778e+07
HOUR3,3.64093e+06,NaN,NaN,NaN,189.657,13587.7,0,12.8,1.87323e+07
HOUR4,3.64093e+06,NaN,NaN,NaN,200.949,25099.2,0,12,3.93334e+07
HOUR5,3.64093e+06,NaN,NaN,NaN,190.81,26162.5,0,12,4.36485e+07
HOUR6,3.64093e+06,NaN,NaN,NaN,177.992,23190.4,0,12.9,4.35511e+07
HOUR7,3.64093e+06,NaN,NaN,NaN,187.393,14558.6,0,15,2.24103e+07
HOUR8,3.64093e+06,NaN,NaN,NaN,191.483,15531.4,0,20,2.32369e+07
HOUR9,3.64093e+06,NaN,NaN,NaN,335.86,62939.5,0,30,9.99108e+07
HOUR10,3.64093e+06,NaN,NaN,NaN,403.179,87240.2,0,33.6,1.17427e+08
HOUR11,3.64093e+06,NaN,NaN,NaN,480.192,91261,0,36,1.0111e+08
HOUR12,3.64093e+06,NaN,NaN,NaN,374.774,50075.1,0,35,5.08677e+07
HOUR13,3.64093e+06,NaN,NaN,NaN,286.298,55316.4,0,30,7.39454e+07
HOUR14,3.64093e+06,NaN,NaN,NaN,263.066,39519.9,0,30,5.50311e+07
HOUR15,3.64093e+06,NaN,NaN,NaN,321.476,104479,0,30,1.88937e+08
HOUR16,3.64093e+06,NaN,NaN,NaN,384.911,82380.4,0,30.4,8.49029e+07
HOUR17,3.64093e+06,NaN,NaN,NaN,345.502,63579.4,0,32.4,9.07791e+07
HOUR18,3.64093e+06,NaN,NaN,NaN,261.551,31583.7,0,30,3.70089e+07
HOUR19,3.64093e+06,NaN,NaN,NaN,319.472,111575,0,27.06,1.87424e+08
HOUR20,3.64093e+06,NaN,NaN,NaN,268.695,54871.3,0,25.2,8.36776e+07
HOUR21,3.64093e+06,NaN,NaN,NaN,248.073,47793.7,0,24,7.31363e+07
HOUR22,3.64093e+06,NaN,NaN,NaN,196.734,16492.6,0,21,1.85294e+07
HOUR23,3.64093e+06,NaN,NaN,NaN,188.514,17358.8,0,20,3.17392e+07
HOUR24,3.64093e+06,NaN,NaN,NaN,31866.3,7.97018e+06,0,17.8,7.39292e+09
DAY_CONSUMING,3.64093e+06,NaN,NaN,NaN,38374.9,7.97521e+06,0.01,720,7.39292e+09
RECORDS_CONSUMING,3.64093e+06,NaN,NaN,NaN,453.914,24.3924,365,461,723
尖峰用电量,3.64093e+06,NaN,NaN,NaN,836.24,133318,0,79,1.87429e+08
高峰用电量,3.64093e+06,NaN,NaN,NaN,2243.96,186440,0,230,1.88961e+08
平段用电量,3.64093e+06,NaN,NaN,NaN,1788.46,126852,0,195,1.01124e+08
谷段用电量,3.64093e+06,NaN,NaN,NaN,33507.3,7.97079e+06,0,126.6,7.39292e+09
日用电量,3.64093e+06,NaN,NaN,NaN,38375.9,7.97521e+06,0.01,720,7.39292e+09
尖峰用电量占比,3.64093e+06,NaN,NaN,NaN,0.13355,0.0721178,0,0.131356,1
高峰用电量占比,3.64093e+06,NaN,NaN,NaN,0.337061,0.114463,0,0.330097,1
平段用电量占比,3.64093e+06,NaN,NaN,NaN,0.280598,0.0826046,0,0.277108,1
谷段用电量占比,3.64093e+06,NaN,NaN,NaN,0.24879,0.149082,0,0.23879,1
尖峰平均负荷,3.64093e+06,NaN,NaN,NaN,278.747,44439.2,0,26.3333,6.24764e+07
高峰平均负荷,3.64093e+06,NaN,NaN,NaN,320.566,26634.2,0,32.8571,2.69945e+07
平段平均负荷,3.64093e+06,NaN,NaN,NaN,298.076,21142.1,0,32.5,1.68540e+07
谷段平均负荷,3.64093e+06,NaN,NaN,NaN,4188.41,996349,0,15.825,9.24116e+08

In [9]:
explore['null'] = len(data)-explore['count']
explore1 = explore[['null','max','min']]
explore1.columns = [u'空值数',u'最大值',u'最小值']#重命名列名
explore1.index.name='数据属性'

In [10]:
explore1

                  空值数          最大值   最小值
数据属性
编号                  0        96325     2
DATA_DATE           0          NaN   NaN
HOUR1               0  7.53041e+07     0
HOUR2               0  2.59778e+07     0
HOUR3               0  1.87323e+07     0
HOUR4               0  3.93334e+07     0
HOUR5               0  4.36485e+07     0
HOUR6               0  4.35511e+07     0
HOUR7               0  2.24103e+07     0
HOUR8               0  2.32369e+07     0
HOUR9               0  9.99108e+07     0
HOUR10              0  1.17427e+08     0
HOUR11              0   1.0111e+08     0
HOUR12              0  5.08677e+07     0
HOUR13              0  7.39454e+07     0
HOUR14              0  5.50311e+07     0
HOUR15              0  1.88937e+08     0
HOUR16              0  8.49029e+07     0
HOUR17              0  9.07791e+07     0
HOUR18              0  3.70089e+07     0
HOUR19              0  1.87424e+08     0
HOUR20              0  8.36776e+07     0
HOUR21              0  7.31363e+07     0
HOUR22              0  1.85294e+07     0
HOUR23              0  3.17392e+07     0
HOUR24              0  7.39292e+09     0
DAY_CONSUMING       0  7.39292e+09  0.01
RECORDS_CONSUMING   0          723   365
尖峰用电量               0  1.87429e+08     0
高峰用电量               0  1.88961e+08     0
平段用电量               0  1.01124e+08     0
谷段用电量               0  7.39292e+09     0
日用电量                0  7.39292e+09  0.01
尖峰用电量占比             0            1     0
高峰用电量占比             0            1     0
平段用电量占比             0            1     0
谷段用电量占比             0            1     0
尖峰平均负荷              0  6.24764e+07     0
高峰平均负荷              0  2.69945e+07     0
平段平均负荷              0  1.68540e+07     0
谷段平均负荷              0  9.24116e+08     0

In [11]:
len(data)

3640934

In [12]:
cleanedfile = 'power_loading_cleaned.xlsx'

In [13]:
data.head()

,编号,DATA_DATE,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
0,2372,2017-01-05 00:00:00,810.0,750.0,750.0,750.0,720.0,660.0,690.0,750.0,...,6270.0,23700.0,0.126582,0.329114,0.279747,0.264557,1000.000000,1114.285714,1105.000000,783.750
1,2831,2017-01-05 00:00:00,26.0,22.0,24.0,22.0,18.0,17.0,19.0,21.0,...,189.0,1458.0,0.240741,0.316872,0.312757,0.129630,117.000000,66.000000,76.000000,23.625
2,5740,2017-01-05 00:00:00,7.2,3.6,3.6,3.6,2.4,3.6,3.6,4.8,...,48.0,285.6,0.130252,0.407563,0.294118,0.168067,12.400000,16.628571,14.000000,6.000
3,5925,2017-01-05 00:00:00,144.0,144.0,152.0,136.0,40.0,40.0,32.0,64.0,...,1000.0,4792.0,0.123539,0.383973,0.283806,0.208681,197.333333,262.857143,226.666667,125.000
4,4812,2017-01-05 00:00:00,23.2,22.0,21.6,21.6,21.6,21.6,24.4,30.4,...,178.8,956.0,0.097490,0.405021,0.310460,0.187029,31.066667,55.314286,49.466667,22.350

In [16]:
data2=data[data['编号']==5740]

In [17]:
len(data2)

473

In [18]:
data2=data2.sort_values(by='DATA_DATE')

In [108]:
len(data2)

473

# 得到用户列表

In [20]:
user_num=list(set(data[ '编号'].tolist())) #得到用户列表

In [21]:
len(user_num)

8045

In [22]:
data['DATA_DATE'] = pd.to_datetime(data['DATA_DATE'])
data.head()

,编号,DATA_DATE,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
0,2372,2017-01-05,810.0,750.0,750.0,750.0,720.0,660.0,690.0,750.0,...,6270.0,23700.0,0.126582,0.329114,0.279747,0.264557,1000.000000,1114.285714,1105.000000,783.750
1,2831,2017-01-05,26.0,22.0,24.0,22.0,18.0,17.0,19.0,21.0,...,189.0,1458.0,0.240741,0.316872,0.312757,0.129630,117.000000,66.000000,76.000000,23.625
2,5740,2017-01-05,7.2,3.6,3.6,3.6,2.4,3.6,3.6,4.8,...,48.0,285.6,0.130252,0.407563,0.294118,0.168067,12.400000,16.628571,14.000000,6.000
3,5925,2017-01-05,144.0,144.0,152.0,136.0,40.0,40.0,32.0,64.0,...,1000.0,4792.0,0.123539,0.383973,0.283806,0.208681,197.333333,262.857143,226.666667,125.000
4,4812,2017-01-05,23.2,22.0,21.6,21.6,21.6,21.6,24.4,30.4,...,178.8,956.0,0.097490,0.405021,0.310460,0.187029,31.066667,55.314286,49.466667,22.350

In [23]:
tmp_date=data[data[ '编号']==2]['DATA_DATE']

In [24]:
first=min(tmp_date)
first

Timestamp('2015-09-23 00:00:00')

In [25]:
last=max(tmp_date)
last

Timestamp('2017-12-31 00:00:00')

In [26]:
cur_user_data=data[data[ '编号']==2]

In [27]:
cur_user_data=cur_user_data.set_index("DATA_DATE")

In [28]:
cur_user_data.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
DATA_DATE,,,,,,,,,,,,,,,,,,,,,
2017-02-08,2,1.05,1.05,1.04,1.04,1.05,0.84,0.01,0.0,0.00,...,8.16,12.69,0.248227,0.024429,0.084318,0.643026,1.050000,0.044286,0.178333,1.02000
2017-02-09,2,1.04,1.05,1.03,1.04,1.04,0.84,0.00,0.0,0.01,...,8.12,12.62,0.248811,0.024564,0.083201,0.643423,1.046667,0.044286,0.175000,1.01500
2017-02-25,2,1.03,1.04,1.03,1.04,1.04,0.82,0.01,0.0,0.00,...,8.08,12.55,0.246215,0.025498,0.084462,0.643825,1.030000,0.045714,0.176667,1.01000
2017-02-28,2,1.03,1.02,1.03,1.03,1.02,0.81,0.01,0.0,0.00,...,8.00,12.45,0.247390,0.025703,0.084337,0.642570,1.026667,0.045714,0.175000,1.00000
2017-03-15,2,1.03,1.04,1.03,1.03,1.03,0.81,0.01,0.0,0.00,...,8.05,12.59,0.248610,0.027006,0.084988,0.639396,1.043333,0.048571,0.178333,1.00625

In [29]:
explorer=cur_user_data['日用电量'].describe()
explorer
IRQ=explorer['75%']-explorer['25%']
IRQ
cur_user_data[cur_user_data['日用电量']>(explorer['75%']+IRQ*3)]

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
DATA_DATE,,,,,,,,,,,,,,,,,,,,,
2017-12-07,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14465.72,14465.72,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1808.2150
2017-11-30,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14393.58,14393.58,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1799.1975

In [30]:
IRQ=explorer['75%']-explorer['25%']
IRQ
cur_user_data[cur_user_data['日用电量']>(explorer['75%']+IRQ*3)]

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
DATA_DATE,,,,,,,,,,,,,,,,,,,,,
2017-12-07,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14465.72,14465.72,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1808.2150
2017-11-30,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14393.58,14393.58,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1799.1975

In [31]:
dt = pd.date_range(first, last)
#重新定义索引
idx = pd.DatetimeIndex(dt)

cur_user_data =  cur_user_data.reindex(idx)
cur_user_data.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
2015-09-23,2.0,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,...,1.69,4.79,0.448852,0.004175,0.194154,0.352818,0.716667,0.002857,0.155000,0.21125
2015-09-24,2.0,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,...,1.73,4.90,0.448980,0.004082,0.193878,0.353061,0.733333,0.002857,0.158333,0.21625
2015-09-25,2.0,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,1.69,4.81,0.449064,0.004158,0.195426,0.351351,0.720000,0.002857,0.156667,0.21125
2015-09-26,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,1.67,4.79,0.450939,0.004175,0.196242,0.348643,0.720000,0.002857,0.156667,0.20875
2015-09-27,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,1.65,4.74,0.451477,0.004219,0.196203,0.348101,0.713333,0.002857,0.155000,0.20625

In [32]:
null_rows=cur_user_data[cur_user_data['HOUR1'].isna()].head()
null_rows.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
2016-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
desc=cur_user_data.describe().T

NameError: name 'cur_user_data' is not defined

In [34]:
cur_user_data[cur_user_data.index=='2015-10-07']

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
2015-10-07,2.0,0.0,0.01,0.0,0.0,0.01,0.0,0.0,0.0,0.01,...,1.61,4.66,0.459227,0.004292,0.190987,0.345494,0.713333,0.002857,0.148333,0.20125

In [35]:
df = cur_user_data.interpolate(method='time', axis=0).ffill().bfill()
df['日期'] = df.index
df.reset_index( inplace=True,drop=True)
df.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷,日期
0,2.0,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,...,4.79,0.448852,0.004175,0.194154,0.352818,0.716667,0.002857,0.155000,0.21125,2015-09-23
1,2.0,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,...,4.90,0.448980,0.004082,0.193878,0.353061,0.733333,0.002857,0.158333,0.21625,2015-09-24
2,2.0,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,4.81,0.449064,0.004158,0.195426,0.351351,0.720000,0.002857,0.156667,0.21125,2015-09-25
3,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,4.79,0.450939,0.004175,0.196242,0.348643,0.720000,0.002857,0.156667,0.20875,2015-09-26
4,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,4.74,0.451477,0.004219,0.196203,0.348101,0.713333,0.002857,0.155000,0.20625,2015-09-27

# 数据预处理
### 对用户数据的奇异值进行删除
### 补充不连续的日期
### 对空数据进行填充

In [36]:
tmp_df=pd.DataFrame() #进行用户数据的拼接
for i in user_num:
    cur_user_data=data[data['编号']==i]
    
    explorer=cur_user_data['日用电量'].describe()

    IRQ=explorer['75%']-explorer['25%']
    #过滤掉奇异值
    cur_user_data=cur_user_data[cur_user_data['日用电量']<=(explorer['75%']+IRQ*3)]
    
    tmp_date= cur_user_data['DATA_DATE']   #获取当前用户数据中的最早日期和最晚日期，以便于补充这两个日期之前的空数据
    
    first=min(tmp_date)
    last=max(tmp_date)
    
    cur_user_data=cur_user_data.set_index("DATA_DATE")  #当前用户设置DATA_DATE为数据框的索引
    #补足所缺的日期
    dt = pd.date_range(first, last) #生成一个日期序列
    #重新定义索引
    idx = pd.DatetimeIndex(dt) 
    cur_user_data =  cur_user_data.reindex(idx)  #对当前用户按照前面的日期序列重新索引后，原数据集不存在的日期将增加一个新的空行。
    
    #对空值按最近日期进行插值处理
    cur_user_data = cur_user_data.interpolate(method='time', axis=0).ffill().bfill() 
    
    cur_user_data['日期'] = cur_user_data.index #将索引列改为普通列
    cur_user_data.reset_index(inplace=True,drop=True) #重置索引，以避免下个用户的索引重复
    
    tmp_df=pd.concat([tmp_df,cur_user_data],ignore_index=True)
    
print(len(tmp_df))

6670485

# 将全部用户的数据拼接并写入一个文件中

In [90]:
tmp_df.to_csv("CleanedPowerConsumingData.csv")      #得到清洗好的数据

In [89]:
len(tmp_df)

6670485

In [39]:
tmp_df.describe().T

,count,mean,std,min,25%,50%,75%,max
编号,6670485.0,35615.153499,27882.986152,2.00,10226.000000,31026.000000,58708.000000,9.632500e+04
HOUR1,6670485.0,166.004666,2222.316257,0.00,4.000000,16.000000,60.000000,1.584000e+05
HOUR2,6670485.0,166.144437,2259.917086,0.00,3.657143,15.000000,55.381356,1.584000e+05
HOUR3,6670485.0,161.056470,2241.256899,0.00,3.479661,14.616338,51.200000,1.584000e+05
HOUR4,6670485.0,159.466102,2264.892200,0.00,3.300000,14.067797,50.000000,1.584000e+05
HOUR5,6670485.0,155.578311,2171.589817,0.00,3.240000,14.000000,48.494915,1.584000e+05
HOUR6,6670485.0,157.325954,2265.359405,0.00,3.510000,14.711864,50.000000,1.584000e+05
HOUR7,6670485.0,160.489929,2227.585236,0.00,4.063043,16.094915,58.606780,1.584000e+05
HOUR8,6670485.0,160.608641,2112.343418,0.00,5.508475,20.305085,69.254237,1.584000e+05
HOUR9,6670485.0,182.653405,2136.886065,0.00,7.511864,30.000000,97.500000,1.584000e+05
HOUR10,6670485.0,201.778871,2196.437613,0.00,8.800000,38.081356,120.000000,1.584000e+05
HOUR11,6670485.0,203.282531,2065.610073,0.00,9.600000,40.000000,124.790960,1.584000e+05
HOUR12,6670485.0,201.970607,2147.731956,0.00,9.430000,40.000000,120.254237,1.584000e+05
HOUR13,6670485.0,186.647908,2009.216341,0.00,8.000000,33.050847,106.355932,1.584000e+05
HOUR14,6670485.0,195.336051,2091.140453,0.00,8.000000,35.000000,114.481356,1.584000e+05
HOUR15,6670485.0,193.787775,2025.324047,0.00,8.000000,35.255932,116.892655,1.584000e+05
HOUR16,6670485.0,188.578440,1958.366417,0.00,8.033898,36.000000,117.039548,1.584000e+05
HOUR17,6670485.0,186.134305,1926.914617,0.00,8.806780,37.200000,115.169492,1.584000e+05
HOUR18,6670485.0,175.891783,1950.325417,0.00,8.000000,32.451695,100.191549,1.584000e+05
HOUR19,6670485.0,169.930423,1990.510892,0.00,7.550000,30.000000,90.000000,1.584000e+05
HOUR20,6670485.0,170.161208,2030.094075,0.00,7.200000,28.800000,88.800000,1.584000e+05
HOUR21,6670485.0,168.494482,2060.103532,0.00,6.711864,26.400000,83.954802,1.584000e+05
HOUR22,6670485.0,165.744223,2084.378074,0.00,6.000000,24.000000,78.000000,1.584000e+05
HOUR23,6670485.0,168.957586,2161.299365,0.00,5.536723,20.400000,72.000000,1.584000e+05
HOUR24,6670485.0,172.383592,2237.360906,0.00,4.800000,19.200000,66.000000,2.301200e+05
DAY_CONSUMING,6670485.0,4220.149257,49401.869569,0.01,201.600000,768.870056,2253.600000,3.379200e+06
RECORDS_CONSUMING,6670485.0,452.784147,24.990191,365.00,446.000000,461.000000,468.000000,7.230000e+02
尖峰用电量,6670485.0,508.586113,6018.178015,0.00,22.160452,85.338983,264.000000,4.488000e+05
高峰用电量,6670485.0,1289.433220,13962.653043,0.00,61.305085,252.248588,760.000000,9.768000e+05
平段用电量,6670485.0,1113.471249,12359.023248,0.00,55.277311,215.830508,632.165775,8.712000e+05
谷段用电量,6670485.0,1306.917119,17481.296036,0.00,36.737288,135.506849,474.535211,1.161600e+06
日用电量,6670485.0,4218.407700,49397.982153,0.01,201.400560,767.902542,2250.000000,3.379200e+06
尖峰用电量占比,6670485.0,0.134768,0.069881,0.00,0.100000,0.132075,0.165782,1.000000e+00
高峰用电量占比,6670485.0,0.337753,0.106379,0.00,0.287671,0.330729,0.390879,1.000000e+00
平段用电量占比,6670485.0,0.282989,0.076931,0.00,0.250000,0.278657,0.316681,1.000000e+00
谷段用电量占比,6670485.0,0.244490,0.135375,0.00,0.156913,0.237288,0.311623,1.000000e+00
尖峰平均负荷,6670485.0,169.528704,2006.059338,0.00,7.386817,28.446328,88.000000,1.496000e+05
高峰平均负荷,6670485.0,184.204746,1994.664720,0.00,8.757869,36.035513,108.571429,1.395429e+05
平段平均负荷,6670485.0,185.578541,2059.837208,0.00,9.212885,35.971751,105.360963,1.452000e+05
谷段平均负荷,6670485.0,163.364640,2185.162005,0.00,4.592161,16.938356,59.316901,1.452000e+05

In [40]:
type(user_num)

list

# 将用户列表也写到一个单独的文件

In [41]:
df_user_num=pd.DataFrame(user_num)

In [42]:
df_user_num.to_csv("list_user_num.csv",index=False,header=['编号'],encoding='gbk') #将用户列表也写到一个单独的文件

In [43]:
tmp_df.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷,日期
0,2.0,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,...,4.79,0.448852,0.004175,0.194154,0.352818,0.716667,0.002857,0.155000,0.21125,2015-09-23
1,2.0,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,...,4.90,0.448980,0.004082,0.193878,0.353061,0.733333,0.002857,0.158333,0.21625,2015-09-24
2,2.0,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,4.81,0.449064,0.004158,0.195426,0.351351,0.720000,0.002857,0.156667,0.21125,2015-09-25
3,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,4.79,0.450939,0.004175,0.196242,0.348643,0.720000,0.002857,0.156667,0.20875,2015-09-26
4,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,4.74,0.451477,0.004219,0.196203,0.348101,0.713333,0.002857,0.155000,0.20625,2015-09-27

In [45]:
cleaned_user_data=tmp_df.set_index('日期')  #对用电数据集按日期进行索引

In [46]:
cleaned_user_data.head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量,日用电量,尖峰用电量占比,高峰用电量占比,平段用电量占比,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷
日期,,,,,,,,,,,,,,,,,,,,,
2015-09-23,2.0,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,...,1.69,4.79,0.448852,0.004175,0.194154,0.352818,0.716667,0.002857,0.155000,0.21125
2015-09-24,2.0,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,...,1.73,4.90,0.448980,0.004082,0.193878,0.353061,0.733333,0.002857,0.158333,0.21625
2015-09-25,2.0,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00,...,1.69,4.81,0.449064,0.004158,0.195426,0.351351,0.720000,0.002857,0.156667,0.21125
2015-09-26,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,1.67,4.79,0.450939,0.004175,0.196242,0.348643,0.720000,0.002857,0.156667,0.20875
2015-09-27,2.0,0.00,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,...,1.65,4.74,0.451477,0.004219,0.196203,0.348101,0.713333,0.002857,0.155000,0.20625

# 按月度进行统计（减少粒度到月份）

In [47]:
tmp_user_data_monthly=pd.DataFrame()
#按月度进行统计（减少粒度到月份）
for i in user_num:
    cur_user_data=cleaned_user_data[cleaned_user_data['编号']==i]
    monthly_groups = cur_user_data.resample('M')
    monthly_data = monthly_groups.sum()
    #占比不能直接相加，故重新计算
    days=monthly_data['编号']/i
    monthly_data['编号']=i
    monthly_data['尖峰用电量占比']=monthly_data['尖峰用电量']/monthly_data['日用电量']
    monthly_data['高峰用电量占比']=monthly_data['高峰用电量']/monthly_data['日用电量']
    monthly_data['平段用电量占比']=monthly_data['平段用电量']/monthly_data['日用电量']
    monthly_data['谷段用电量占比']=monthly_data['谷段用电量']/monthly_data['日用电量']
    
    monthly_data['尖峰日均用电量']=monthly_data['尖峰用电量']/days
    monthly_data['高峰日均用电量']=monthly_data['高峰用电量']/days
    monthly_data['平段日均用电量']=monthly_data['平段用电量']/days
    monthly_data['谷段日均用电量']=monthly_data['谷段用电量']/days

    
    monthly_data['尖峰平均负荷']=monthly_data['尖峰平均负荷']/days
    monthly_data['高峰平均负荷']=monthly_data['高峰平均负荷']/days
    monthly_data['平段平均负荷']=monthly_data['平段平均负荷']/days
    monthly_data['谷段平均负荷']=monthly_data['谷段平均负荷']/days

    tmp_user_data_monthly=pd.concat([tmp_user_data_monthly,monthly_data],ignore_index=False)

# 将用户月度数据输出到一个文件中保存

In [91]:
#tmp_user_data_monthly.to_excel("CleanedPowerConsumingData_Monthly.xlsx",header=True)
tmp_user_data_monthly.to_csv("CleanedPowerConsumingData_Monthly.csv",header=True)

# 经分析发现数据集中很多用户2016年的数据缺失，基本上都是按插值法生成的
### 为不影响分析结果，因此去除2016全年的数据

In [95]:
#去除2016年的数据（由于数据没有采集，2016年的数据是根据插值法生成的。
user_data=pd.read_csv('CleanedPowerConsumingData.csv')

In [96]:
user_data['日期'] = pd.to_datetime(user_data['日期'])
idx1=user_data['日期']<='2015-12-31'
idx2=user_data['日期']>='2017-01-01'

In [97]:
user_data_2015_2017=user_data[idx1|idx2]

# 去除2016年以后的用户用电数据

In [99]:
user_data_2015_2017.to_csv("CleanedPowerConsumingData_2015_2017.csv",header=True,index=False)

In [100]:
print(user_data_2015_2017.shape)

(3728861, 42)

In [105]:
#tmp_user_data_monthly=pd.read_csv("CleanedPowerConsumingData_Monthly.csv")
tmp_user_data_monthly['日期'] = tmp_user_data_monthly.index #将索引列改为普通列
tmp_user_data_monthly.reset_index(inplace=True,drop=True) #重置索引，以避免下个用户的索引重复
idx1=tmp_user_data_monthly['日期']<='2015-12-31'
idx2=tmp_user_data_monthly['日期']>='2017-01-01'
user_data_monthly_2015_2017=tmp_user_data_monthly[idx1|idx2]
user_data_monthly_2015_2017.to_csv("CleanedPowerConsumingData_monthly_2015_2017.csv",header=True,index=False,encoding="gbk")
user_data_monthly_2015_2017[user_data_monthly_2015_2017['编号']==5740].head()

,编号,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,HOUR9,...,谷段用电量占比,尖峰平均负荷,高峰平均负荷,平段平均负荷,谷段平均负荷,尖峰日均用电量,高峰日均用电量,平段日均用电量,谷段日均用电量,日期
70972,5740,27.600000,19.200000,21.600000,19.200000,19.200000,18.00000,20.400000,19.200000,22.800000,...,0.268206,4.500000,3.771429,3.650000,2.831250,13.500000,26.400000,21.900000,22.650000,2015-09-30
70973,5740,88.800000,74.400000,67.200000,68.400000,64.800000,73.20000,76.800000,73.200000,96.000000,...,0.266565,4.722581,3.284793,3.090323,2.530645,14.167742,22.993548,18.541935,20.245161,2015-10-31
70974,5740,230.400000,195.600000,196.800000,181.200000,183.600000,183.00000,187.200000,177.000000,193.800000,...,0.277138,11.140000,8.691429,8.973333,7.097500,33.420000,60.840000,53.840000,56.780000,2015-11-30
70975,5740,483.600000,445.200000,432.000000,420.000000,414.000000,417.60000,429.600000,392.400000,429.600000,...,0.265964,22.632258,20.046083,21.438710,15.256452,67.896774,140.322581,128.632258,122.051613,2015-12-31
70988,5740,293.037288,241.505085,216.271186,205.437288,195.837288,209.00339,205.369492,205.369492,328.732203,...,0.242070,11.128777,13.078091,13.024166,8.107449,33.386331,91.546638,78.144997,64.859595,2017-01-31

In [121]:
#分文件保存典型用户月用电数据
list_user_num=[4066,
5242,
5246,
19186,
19188,
19666,
20756,
25639,
42952,
42953,
43239,
43265,
43586,
43622,
43664,
43665,
48118,
48119,
51821,
51822,
51826,
51842,
52303,
52308,
52309,
54663,
54677,
54685,
54686,
54689,
57097,
57098,
57105,
64614,
64678,
64698,
65259,
65262,
65698,
71041,
71055,
71398,
74347,
77147,
77149,
77196,
77197,
77518,
82316,
92820]

for i in list_user_num:
    cur_data_num=user_data_monthly_2015_2017[user_data_monthly_2015_2017['编号']==i]
    filename="userdata\\Monthly_User_ConsumingData_2015_2017"+str(i)+".csv"
    cur_data_num.to_csv(filename,header=True,index=False,encoding="gbk")